:root {
    --white: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

img {
    display: block;
    width: 100%;
} /* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
} */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
/* html:focus-within {
    scroll-behavior: smooth;
} */

/* Set core body defaults */
body {
    /* min-height: 100vh; */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: "Outfit";
}

h1,
h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 1;
}

.section-title-primary {
    color: var(--Stone-900);
}

.section-title-secondry {
    color: var(--Brown-800);
}

.section-title-nautrul {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: var(--Rose-800);
}

p,
li {
    color: var(--Stone-600);
    font-weight: 400;
}

.inner-content {
    padding: 5%;
    display: grid;
    gap: 20px;
}

.inner-title {
    display: grid;
    gap: 15px;
}

.preparation-section {
    background-color: var(--Rose-50);
    border-radius: 5px;
    padding: 20px;
    display: grid;
    gap: 15px;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    display: grid;
    gap: 5px;
}

.ingredients-section {
    display: grid;
    gap: 15px;
}

.instructons-section ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: grid;
    gap: 10px;
}

.instructons-section {
    display: grid;
    gap: 15px;
}

hr {
    color: var(--Rose-50);
    opacity: 0.5;
}

.nutrition {
    display: grid;
    gap: 15px;
}

table td {
    color: var(--Stone-600);
}

table span {
    color: var(--Brown-800);
    font-weight: 600;
}

table tr {
    position: relative;
    margin-bottom: 100px;
}

table tr::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    /* background-color: red; */
    border-bottom: 1px rgb(206, 202, 202) solid;
    bottom: 0px;
    left: 0;
    padding-bottom: 200px;
}

@media (min-width: 700px) {
    main {
        background-color: var(--Stone-100);
        padding-block: 100px;
    }

    .inner {
        background-color: white;
        border-radius: 10px;
    }

    .wrapper {
        max-width: 800px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner-img {
        padding-inline: 43px;
        padding-top: 30px;
    } 

}